h1[color="pink"], p[color="pink"]{
	color:#DD3E77;
 	 font-weight: bold;
 	  text-align:center;
}

h1[color="green"], p[color="green"]{
    color:#04966E;
     font-weight: bold;
     text-align:center;
}
@font-face {
  font-family: mainFont;
  src: url('../fonts/poppins.ttf');
}
table{
    max-width:100%;
    font-size:0.8em;
}
table img{
    width:55px;
    height:auto;
}
answer {
    border-radius:2px;
    border: 1px solid #aaa;
    display:block;
    margin-bottom:1.1em;
    margin-top:1.1em;
    text-align:center;
    padding:8px;
}
html{
    padding:0; margin:0;
}
body {
    max-width:100%;
	font-family: mainFont, Helvetica, Verdana, sans-serif;
	color:#333;
	line-height: 1.4em;
	margin: 25px 20px;
	font-size:75%;
    background-color: white;
    margin:0;
    padding:25px;
}

